1. Discuss string slicing and provide examples
Slicing can be used to get specific range of characters.
Slicing can be used to get specific characters by defining the start index and required index.
Syntax:
string_name[start_index:end_index:step]  >>As index starts from 0, the end index is actual position-1
OR
string_name[start_index:end_index] >> In this case step is considered to be 1, by default.

In [1]:
v = "Vaishnavi"
v

'Vaishnavi'

In [2]:
v[0]

'V'

In [4]:
v[2:6]

'ishn'

In [5]:
v[2:8:2]

'iha'

In [6]:
d="I will be a billionaire"
d

'I will be a billionaire'

In [9]:
d[11:19]

' billion'

2.	Explain the key features of lists in Python 
Lists are ordered collection of items.
Lists are mutable
List can store heterogenous data types ie string, integer, boolean.
List items can be accessed using its index.
We can add, delete or modify elemnts as per our choice

In [12]:
Grocery_list=["Milk", "Eggs",1,2,False]
Grocery_list

['Milk', 'Eggs', 1, 2, False]

3.	Describe how to access, modify, and delete elements in a list with examples 
Lists items start with zero index, the second is at index 1 so its n-1
We can access the elements using the index of the items in list.

In [15]:
shopping = ["pwskills",1,"Greece"]
shopping[1]

1

In [16]:
shopping[2]

'Greece'

To add new elements append(), or insert() is used
Append method
 The append() method is used to add an element to the end of a list
 It simply adds a new element to the original list.

In [18]:
destinations = ["Greece","Paris"]
print(destinations)

['Greece', 'Paris']

In [19]:
destinations.append("London")
destinations.append("Rome")
print(destinations)

['Greece', 'Paris', 'London', 'Rome']

INSERT method
 The insert() method allows you to add an element at a specified index in the list Ì§
 It also modifies the original list.

In [20]:
destinations = ["Greece","Paris"]
print(destinations)

['Greece', 'Paris']

In [22]:
destinations.insert(2,"Rome")
print(destinations)

['Greece', 'Paris', 'Rome']

To remove elements from list remove() and pop is used. In pop, index of the element can be specified.

In [23]:
print(destinations)

['Greece', 'Paris', 'Rome']

In [24]:
destinations.remove("Greece")
print(destinations)

['Paris', 'Rome']

In [26]:
destinations.pop(1)
print(destinations)

['Paris']

4.	Compare and contrast tuples and lists with examples 
A list is the commonly used data structures in Python. 
It is an ordered collection of elements.
The items are of heterogenous data type, such as integers, strings, or other lists.
Lists are mutable, so the list items can be changed after creation.
You can access elements by their index.
You can perform various operations like adding, removing, or sorting elements.

Tuples are used to store heterogeneous and homogeneous data.
Tuples are immutable in nature.
Tuples are ordered collection of elements.
An index is used to traverse a tuple.
Tuples are similar to lists. It also preserves the data sequence.
As tuples are immutable, they are faster than the list because they are static.

In [1]:
fruits=["apples","peach","oranges"]
fruits

['apples', 'peach', 'oranges']

In [2]:
fruits[1]

'peach'

In [3]:
type(fruits)

list

In [4]:
veggies=("Potatoes","Garlic","Onions")
veggies

('Potatoes', 'Garlic', 'Onions')

In [5]:
type(veggies)

tuple

In [6]:
veggies[1]

'Garlic'

In [7]:
veggies[1]="Tomatoes"

TypeError: 'tuple' object does not support item assignment

In [8]:
fruits[1]="Kiwi"

In [9]:
fruits

['apples', 'Kiwi', 'oranges']

5.	Describe the key features of sets and provide examples of their use 
Sets are unordered collections of unique elements.
They are useful when you need to work with distinct items and perform set operations like union, intersection, and difference.
Sets are mutable, but can add and remove elements, but the elements themselves have ti be immutable.

In [16]:
popsicles={"Cola","Pineapple","Mix","Mix"}
type(popsicles)

set

In [14]:
popsicles

{'Cola', 'Mix', 'Pineapple'}

In [15]:
popsicles[1]

TypeError: 'set' object is not subscriptable

6.	Discuss the use cases of tuples and sets in Python programming 
Tuples are similar to lists, but they are immutable. The elements of tuples cannot be changed after creation. 
Tuples can be used where we know all the items at the time of creation.
Tuple items are ordered, unchangeable, and allow duplicate values.
Tuple items are indexed which makes it easy to access its content.

Sets
Sets are unordered collections of unique elements. It does not allow duplicate values.
Sets can be used when working with distinct elements.
Sets are very useful as we can perform set operations like union, intersection.
Sets are mutable, so you can add and remove elements, but the elements themselves must be immutable.

In [24]:
pancake=("banana","eggs","flour","nuts","syrup")#this recipe cannot be changed
type(pancake)

tuple

In [22]:
pancake[3]

'nuts'

In [23]:
pancake[0]="Berries"

TypeError: 'tuple' object does not support item assignment

In [25]:
College_id={1,1,2,3,4} #wont take duplicate values

In [26]:
type(College_id)

set

In [27]:
College_id

{1, 2, 3, 4}

7.	Describe how to add, modify, and delete items in a dictionary with examples
Dictionaries are key-value pairs that allow you to store and retrieve data based on a unique, distinct key. 
The keys must be immutable, such as strings or numbers.
Dictionaries are useful for storing data that needs to be accessed quickly and efficiently.
Elements are are accessed usig their keys

In [41]:
my_self = {'Name': 'Elle', 'City': 'Paris', 'Age': 21}
print(my_self)
type(my_self)

{'Name': 'Elle', 'City': 'Paris', 'Age': 21}

dict

In [30]:
my_self["Name"]

'Elle'

To add elements we can simply add a new key value pair

In [31]:
my_self["Designation"]="Data Analyst"
my_self

{'Name': 'Elle', 'City': 'Paris', 'Age': 21, 'Designation': 'Data Analyst'}

To delete items just use del() or pop()

In [32]:
del my_self["Age"]

In [33]:
my_self

{'Name': 'Elle', 'City': 'Paris', 'Designation': 'Data Analyst'}

In [34]:
my_self.pop("Designation")

'Data Analyst'

In [35]:
my_self

{'Name': 'Elle', 'City': 'Paris'}

MODIFY/UPDATE can be done by simply assigning or by using update

In [36]:
my_self={"Designation":"Data Analyst"}
my_self

{'Designation': 'Data Analyst'}

In [38]:
my_self1={"Designation":"CEO"}
my_self1

{'Designation': 'CEO'}

In [42]:
my_self.update(my_self1)

In [43]:
my_self

{'Name': 'Elle', 'City': 'Paris', 'Age': 21, 'Designation': 'CEO'}

8.	Discuss the importance of dictionary keys being immutable and provide examples.
Dictionary stores data in key value pairs.
Keys are unique and immutable, while values can be of any data type.
Keys have to be immutable as, the data or values are found or traversed using keys.